*
{
    margin: 0;
    padding: 0;
}

body
{
    
    width: 100vw;
    height: 100vh;
}
.container
{
    width: 100%;
    height: 100%;
    background-color: #e0e5ec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__proyect
{
    position: relative;
    width: 20%;
    height: 10%;
    
    box-shadow: 9px 9px 16px #a3b1c6,
    -6px -6px 12px #ffffff,
    9px 9px 16px rgba(181, 191, 206, .5);
    text-align: center;
    border-radius: 20px;
    display: flex;
}
.proyect__title
{
    font-family:'Poppins',sans-serif;

    margin: auto;
}
h2
{
    color: #e0e5ec;
    text-shadow:-1px -1px 1px rgba(255,255,255,0.4),
    1px 1px 1px rgba(0,0,0,0.08),
    .5px 0 0 rgb(0, 0, 0);
    caret-color: #262626;
     color: rgba(110, 153, 218, 0.9);
}

.proyect__ul
{
    position: absolute;
    width: 100%;
    height: 10rem;
    margin-top: 4.3rem;
    box-shadow: 9px 9px 16px #a3b1c6,
    9px 9px 16px rgba(181, 191, 206, .5);
    border-radius: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    /* * lista opaca */
    opacity: 0;
}



a
{
    text-decoration: none;
    color: #207fd8;
    margin-top: 1rem;
   
    
    color: #77767c;
}


.cv 
{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    box-shadow: 9px 9px 16px #a3b1c6,
    -9px -9px 16px #ffffff,
    9px 9px 16px rgba(181, 191, 206, .5),
    6px 6px 12px rgba(189, 194, 201, 0.4);
    margin: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0e5ec;
}


