@font-face {
    font-family: monea;
    src: url(../font/Monea.otf);
}
*
{
    margin: 0;
    padding: 0;
}

body
{
    width: 100vw;
    height: 100vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    height: 100vh;
}
header
{  
    width: 100%; 
}
.nav__bar
{
    width: 100%;
}

.navegador
{
    display: flex;
    width: 100%;
    height: 100%;
    list-style: none;
    justify-content: space-around;  
    text-align: center; 
    flex-wrap: wrap;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

a
{
    cursor: pointer;
    text-decoration: none;
    color: #e0e5ec;
    position: relative; 
}
a:hover
{
    color: black;
    background-color: white;
    border-radius: 20px;
}

ul
{
    width: 10rem;
    position: relative;
    background-color: black;
}



.container
{
    width: 100%;
    height: 90%;
    background-color: #e0e5ec;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.head
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    margin-top: -1rem;
    
}
.title
{
    font-size: 2rem;
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    margin: 1rem;
}

@media screen and (max-width: 545px)
 {
    .title
    {
        text-align: center;
        justify-content: center;
    }
}

h1
{
    font-family:monea;
    font-size: 5rem;
}
.portf
{
    font-size: 1rem;
}
.image
{
    width: 80%;
    height:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 5px;
}

@media screen and (max-width: 843px)
 {
    .image
    {
        width: 90%;
    }
  
}


img
{
    height: 90%;
    width: 57%;
    object-fit:cover;
    border-radius: 5px;
    transition: transform 500ms ease;
    
}
.serio
{
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position:-2rem 0rem;
}
img:hover
{
    transform: scale(1.04);
    z-index: 3;
}


#work
{
    margin-top: 1rem;
    margin: 1rem;
}

.content
{
    width: 100%;
    display: flex ;
    flex-direction: column;
    text-align: center;
    gap:2rem;
}


.image__face
{
    height: 10rem;
    width: 100%;
    object-fit: cover;
    
}

.title__medio
{
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;  
    gap: 2rem; 
   
}

@media  screen and (max-width:1172px) {
    .mascara
    {
        display: none;
    }
}


.mascara
{
    grid-row: 1/2;
    grid-column: 2/3;
}

.rastas2
{
    grid-column: 2/3;
}
.sobre_mi
{
    height: 5rem;
    width: 50%;
    border-bottom: 1px solid #000;
    color: black;
}
.parrafo
{
    width: 50%;
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center; 
    
}

.mascara
{
    margin-top: 1.5rem;
    width: 30%;
    object-fit: cover;
}

.cualidades
{
    display: flex;
    width: 100%;
    height: 15rem;
    background-color:#e0e5ec; 
    text-align: center;
    flex-direction: row;    
}
.cualidad
{
    
    padding: 1rem;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: .5rem;
    border-right: 1px solid black;
}
@media  screen and (max-width:1007px) {

    .cualidades
    {
        flex-direction: column;
        height: max-content;
        width: 100%;
    }
  
    .cualidad
    {
        width: 90%;
        height: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-right: none;
        margin-left: 1rem;
        border-bottom: 1px solid black;

    }
}

.sobre__parrafo
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.left_face
{
    width: 30rem;   
    margin: 2rem;
}