
:root {
    --backgound: #c2272d;
    --gray: #797d7f;
}

.container__music__player{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-color: #d9cebc;
    position: relative;
    box-shadow: 3px 3px 20px rgb(83, 83, 83),
    -9px -9px 16px rgba(255,255,255,0.5);
}

/* tornillos */
.circulo
{
    position: absolute;
    top: 0; bottom: 0; left: 0; right:0;
    width: 1.5rem;
    height: 1.5rem;
    border:  solid black 1px;
    border-radius: 50%;
    background-color: black;
    margin-left: .5rem;
    margin-top: .5rem;
    box-shadow: 330px 0px black,
    0px 588px,
    330px 588px;
}
.line
{
    width: .2rem;
    height: 1.7rem;

    margin-left: .63rem;
    margin-top: -.09rem;
    background-color: #d9cebc;
    box-shadow: 330px 0px #d9cebc,
    0px 588px #d9cebc,
    330px 588px  #d9cebc;
}



/* Reproductor general */
.front
{
    width: 18.75rem;
    height: 34.375rem;
    background-color: #d9cebc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 9px 9px 16px rgba(124, 122, 99, 0.6),
    6px 6px 16px rgba(133, 131, 114, 0.5),
    3px 3px 10px rgba(146, 145, 135, 0.3),
    -6px -6px 16px rgba(230, 229, 220, 0.6),
    -3px -3px 10px rgba(236, 236, 231, 0.3),
    -9px -9px 16px rgba(255,255,255,0.5);
}

/* Botones en conjunto */
.player__controls
{
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1.5625rem;
}

/* Botones individuales */
.player__btn
{
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px rgba(124, 122, 99, 0.6),
    -2px -2px 10px rgba(255,255,255,0.5);
    color: #5a3b15;
    transition: transform 500ms ease;
    position: relative;
}
.player__btn::after
{
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(124, 122, 99, 0.6),
    -5px -4px 10px rgba(255,255,255,0.5);
}
.player__btn:active.player__btn::after
{
   transform: rotateZ(540deg);
}

.player__btn:active
{
    box-shadow: 1px 1px 3px rgba(82, 81, 74, 0.6),
    -2px -2px 3px rgba(53, 52, 52, 0.5);
    /* transform: rotateZ(540deg); */
}

.icono
{
    transition: transform 500ms ease;
}

.player__btn:active .icono
{
    transform: rotateZ(540deg);
}

/* botones de arriba */
.player__btn--small
{
    min-width: 3.125rem;
    min-height: 3.125rem;
}

.player__title
{
    font-weight: 600;
    font-size: 0.8em;
    color: #5a3b15;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

.player__album
{
    width: 150px;
    border-radius: 50px;
}

.player__img
{
    width: 100%;
    height: 100%;
    box-shadow: 5px 3px 20px #5a3b15,
    -9px -9px 16px rgba(255,255,255,0.5);
}


.player__artist
{
    font-size: 1.2em;
    font-weight:500;
    opacity: 0.5;
    margin: 20px 0px 10px 0px;
    color: #5a3b15;
}

.player__song
{
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1em;
    opacity: 0.5;
    margin: 0;
}

.player__level
{
    width: 80%;
}




.audio-duration
{
    margin-top: -30px;
    display: flex;
    width: 80%;
    font-size: 10px;
    font-weight: 600;
    color: #a1a1a1;
    letter-spacing: 1px;
}

/* Con esto ponemos cada uno en un extremo */
.start
{
    flex: 1;
}

.player__audio
{
     visibility: hidden; 
}

.player__btn--medium
{
    min-height: 70px;
    min-width: 70px;
}

.red
{
    background-color: #c2272d;
    color: #fff;
}




/* CREAR NUEVA CLASE OCULTA, Y EN JAVASCRIPT CUANDO DES CLIK A LAS BARRAS,CAMBIAR EL N0MBRE DE LA CLASE PARA QUE QUE DESAPAREZCA EL PLAYER Y APAREZCA LA NUEVA TARJETA 
CON LA LISTA DE CANCIONES */



/* 
* Para la imagen aspect-ratio
 */


 .hidden
 {
    animation: rotar 1s;
    animation-fill-mode: forwards;
 }
 .player__list__ul
 {
     display: flex;
     flex-direction: column;
     gap: 1rem;
     list-style: none;
 }

 .song 
 {
    box-shadow: 6px 6px 16px rgba(124, 122, 99, 0.6),
    3px 3px 16px rgba(133, 131, 114, 0.5),
    -6px -6px 16px rgba(230, 229, 220, 0.6),
    -3px -3px 10px rgba(236, 236, 231, 0.3);
    border-radius: 5px;
    padding: 0.2rem;
    color: var(--backgound);
}